@mixin flex-wrap-old-browser($value) {
    @if $value == nowrap {
        -ms-flex-wrap: none;
    }
}

@mixin flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @include flex-wrap-old-browser($value);
    -ms-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin flex-wrap-nowrap {
    @include flex-wrap(nowrap);
}

@mixin flex-wrap-wrap {
    @include flex-wrap(wrap);
}

@mixin flex-wrap-wrap-reverse {
    @include flex-wrap(wrap-reverse);
}
